USE [master]
GO
/****** Object:  Database [Spotly]    Script Date: 11/10/2024 8:09:07 PM ******/
CREATE DATABASE [Spotly]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Spotly', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Spotly.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Spotly_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Spotly_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Spotly].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Spotly]
GO
/****** Object:  Table [dbo].[Dokumentacija]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dokumentacija](
	[ID] [int] NOT NULL,
	[Slika] [varbinary](max) NULL,
	[KaznaID] [int] NULL,
	[ZahtjevID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kazna]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kazna](
	[ID] [int] NOT NULL,
	[Razlog] [varchar](500) NOT NULL,
	[Novcani_iznos] [varchar](100) NULL,
	[Datum_vrijeme] [timestamp] NOT NULL,
	[Admin_ID] [int] NULL,
	[KorisnikID] [int] NULL,
	[Tip_kazneID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[ID] [int] NOT NULL,
	[Ime] [varchar](100) NOT NULL,
	[Prezime] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Broj_mobitela] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[Tip_korisnikaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifikacija]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifikacija](
	[ID] [int] NOT NULL,
	[Poruka] [varchar](500) NOT NULL,
	[Datum_vrijeme] [timestamp] NOT NULL,
	[Tip_notifikacijeID] [int] NULL,
	[KorisnikID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parking_mjesto]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parking_mjesto](
	[ID] [int] NOT NULL,
	[Status] [varchar](100) NOT NULL,
	[Dostupnost] [varchar](100) NULL,
	[Tip_mjestaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervacija]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervacija](
	[ID] [int] NOT NULL,
	[Datum_vrijeme_rezervacije] [datetime] NOT NULL,
	[Datum_vrijeme_odlaska] [datetime] NULL,
	[VoziloID] [int] NULL,
	[Parking_mjestoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_kazne]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_kazne](
	[ID] [int] NOT NULL,
	[Tip] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_korisnika]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_korisnika](
	[ID] [int] NOT NULL,
	[Tip] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_mjesta]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_mjesta](
	[ID] [int] NOT NULL,
	[Tip] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_notifikacije]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_notifikacije](
	[ID] [int] NOT NULL,
	[Tip] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_vozila]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_vozila](
	[ID] [int] NOT NULL,
	[Tip] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_zahtjeva]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_zahtjeva](
	[ID] [int] NOT NULL,
	[Tip] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vozilo]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vozilo](
	[ID] [int] NOT NULL,
	[Marka] [varchar](100) NOT NULL,
	[Model] [varchar](100) NOT NULL,
	[Godiste] [varchar](100) NULL,
	[Registracija] [varchar](100) NOT NULL,
	[Tip_vozilaID] [int] NULL,
	[KorisnikID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zahtjev]    Script Date: 11/10/2024 8:09:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zahtjev](
	[ID] [int] NOT NULL,
	[Predmet] [varchar](100) NOT NULL,
	[Poruka] [varchar](500) NOT NULL,
	[Odgovor] [varchar](500) NULL,
	[Status] [varchar](100) NULL,
	[Datum_vrijeme] [timestamp] NOT NULL,
	[Admin_ID] [int] NULL,
	[KorisnikID] [int] NULL,
	[Tip_zahtjevaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dokumentacija]  WITH CHECK ADD FOREIGN KEY([KaznaID])
REFERENCES [dbo].[Kazna] ([ID])
GO
ALTER TABLE [dbo].[Dokumentacija]  WITH CHECK ADD FOREIGN KEY([ZahtjevID])
REFERENCES [dbo].[Zahtjev] ([ID])
GO
ALTER TABLE [dbo].[Kazna]  WITH CHECK ADD FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([ID])
GO
ALTER TABLE [dbo].[Kazna]  WITH CHECK ADD FOREIGN KEY([Tip_kazneID])
REFERENCES [dbo].[Tip_kazne] ([ID])
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD FOREIGN KEY([Tip_korisnikaID])
REFERENCES [dbo].[Tip_korisnika] ([ID])
GO
ALTER TABLE [dbo].[Notifikacija]  WITH CHECK ADD FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([ID])
GO
ALTER TABLE [dbo].[Notifikacija]  WITH CHECK ADD FOREIGN KEY([Tip_notifikacijeID])
REFERENCES [dbo].[Tip_notifikacije] ([ID])
GO
ALTER TABLE [dbo].[Parking_mjesto]  WITH CHECK ADD FOREIGN KEY([Tip_mjestaID])
REFERENCES [dbo].[Tip_mjesta] ([ID])
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD FOREIGN KEY([Parking_mjestoID])
REFERENCES [dbo].[Parking_mjesto] ([ID])
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD FOREIGN KEY([VoziloID])
REFERENCES [dbo].[Vozilo] ([ID])
GO
ALTER TABLE [dbo].[Vozilo]  WITH CHECK ADD FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([ID])
GO
ALTER TABLE [dbo].[Vozilo]  WITH CHECK ADD FOREIGN KEY([Tip_vozilaID])
REFERENCES [dbo].[Tip_vozila] ([ID])
GO
ALTER TABLE [dbo].[Zahtjev]  WITH CHECK ADD FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([ID])
GO
ALTER TABLE [dbo].[Zahtjev]  WITH CHECK ADD FOREIGN KEY([Tip_zahtjevaID])
REFERENCES [dbo].[Tip_zahtjeva] ([ID])
GO
USE [master]
GO
